<!DOCTYPE html>
<html>
<head>
  <title>Saundoritos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	<%= csrf_meta_tags %>
</head>
<body>

  <div class="left inline links m-1">
    <!-- <div class="icon mb-1">
      <%#= image_tag("twitter.png", size: "48", class: "center block") %>
      <p class="m-0 mt-05">Twitter</p>
		</div> -->
    <div class="icon mb-1" name="insta">
      <%= image_tag("camera.png", size: "48", class: "center block") %>
      <p class="m-0 mt-05">Insta</p>
		</div>
    <div class="icon mb-1" name="mixtape">
      <%= image_tag("mixtape.png", size: "48", class: "center block") %>
      <p class="m-0 mt-05">Mixtape</p>
		</div>
    <div class="icon mb-1" name="shitbot">
      <%= image_tag("shitbot.png", size: "48", class: "center block") %>
      <p class="m-0 mt-05">ShitBot</p>
		</div>
    <div class="icon mb-1" name="bookmarks">
      <%= image_tag("bookmark.png", size: "48", class: "center block") %>
      <p class="m-0 mt-05">Bookmarks</p>
		</div>
    <div class="icon mb-1" name="resume">
      <%= image_tag("mini-me.png", size: "48", class: "center block") %>
      <p class="m-0 mt-05">Resume</p>
		</div>
  </div>

  <%= yield %>
	
	<%= image_tag("guy.png", width: "200", id: "guy") %>
	
	<menu class="btn start inline" id="startMenu">
		<div class="menu-item">Programs</div>
		<div class="menu-item">Documents</div>
		<div class="menu-item">Settings</div>
		<div class="menu-item">Find</div>
		<div class="menu-item" id="helpLauncher">Help</div>
		<div class="menu-item">Run...</div>
		<hr>
		<div class="menu-item">Shut Down...</div>
	</menu>
	
  <footer>
    <button class="left inline start footerbox btn" id="startBtn">
      <%= image_tag("taco.png", size: "13", class: "inline") %>
      Start
    </button>
    <div class="inline left line"></div>

    <div class="right inline footerbox mr-03 inset">
      <span id="time"></span>
    </div>
    <div class="inline right line"></div>
  </footer>

</body>
</html>
